
<!--<h1> The Upload Section</h1>-->
  <!--<p>Pick the file you would like to upload and the path in which you want it to go and then push the submit button.</p>-->
<!--<form enctype="multipart/form-data">-->
 <!--<div class="file_input_div">-->
    <!--<div class="file_input">-->
      <!--<label class="image_input_button mdl-button mdl-js-button mdl-button&#45;&#45;fab mdl-button&#45;&#45;mini-fab mdl-js-ripple-effect mdl-button&#45;&#45;colored">-->
        <!--<i class="material-icons">file_upload</i>-->
        <!--<input id="file_input_file" name="uploadfile" class="none" type="file" />-->
      <!--</label>-->
    <!--</div>-->
    <!--<div id="file_input_text_div" class="mdl-textfield mdl-js-textfield textfield-demo">-->
      <!--<input class="file_input_text mdl-textfield__input" type="text" disabled readonly id="file_input_text" />-->
      <!--<label class="mdl-textfield__label" for="file_input_text"></label>-->
    <!--</div>-->
  <!--</div>-->
  <!--&lt;!&ndash;<form class="example-form">&ndash;&gt;-->
    <!--&lt;!&ndash;<mat-form-field class="example-full-width">&ndash;&gt;-->
      <!--&lt;!&ndash;<input type="text" name="filepath" placeholder="  file path" aria-label="Number" matInput [matAutocomplete]="auto">&ndash;&gt;-->
      <!--&lt;!&ndash;<mat-autocomplete #auto="matAutocomplete">&ndash;&gt;-->
        <!--&lt;!&ndash;<mat-option *ngFor="let option of options" [value]="option">&ndash;&gt;-->
          <!--&lt;!&ndash;{{option}}&ndash;&gt;-->
        <!--&lt;!&ndash;</mat-option>&ndash;&gt;-->
      <!--&lt;!&ndash;</mat-autocomplete>&ndash;&gt;-->
    <!--&lt;!&ndash;</mat-form-field>&ndash;&gt;-->
  <!--&lt;!&ndash;</form>&ndash;&gt;-->

<!--</form>-->


<input type="text" name="filepath" placeholder="file path"/>
<input #datfile type="file" (change)="handleFileInput($event.target.files)"/>
<button id="submitbtn" mat-raised-button color="primary" (click)="upload()" value="upload file">Upload</button>
