h1{
  font-size:  xx-large;
  text-align: center;
  color:white;
  background: #795aff;
}
p{
  color : #795aff;
  position: absolute;
  left: 80%;
  margin-top: 5%;
}

#fs{
  position: absolute;
  left :40%;
  margin-top: 5%;
}
